#training-menu {
    height: 85%;
    margin-left: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#start-btn, #random-btn {
    font-weight: 400;
}

.button {

    width: 320px;
    height: 50px;
    font-size: 20px;
    margin: 5px;

    /* border-radius: 3px; */
}

@media screen and (max-height: 850px) {

}
